body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px; 
    max-width: 845px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.productpix
{
    max-height: 100px;
    max-width: 100px;
}

.productcontainer 
{
    max-width: 812px;
    height: auto;
}

.productbox { 

    width: 250px;
    height: 300px;
    border: 2px solid black;
    margin: 10px;
    float: left;   
}


.itemcenter
{
    padding: 10px;
    text-align: center;
    width: 50%;
    display: block;
    margin: auto;
}

.jumbotron
{
    max-width: 812px;
 }

footer
{
   padding-top: 650px;
    height: 8em;
}