@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<table class="table table-hover">
    <tr><th>Resources</th></tr>
    <tr><td>MVC - Code First Entity Framework<td></tr>
    <tr><td><a href="http://d3js.org/">d3</a><td></tr>
    <tr><td><a href="http://datamaps.github.io/">Datamaps</a><td></tr>
    <tr><td><a href="http://www.jasondavies.com/wordcloud/about/">d3-cloud</a><td></tr>
    <tr><td><a href="https://developers.google.com/maps/documentation/embed/">Google Maps Embed API</a><td></tr>
    <tr><td><a href="https://bitbucket.org/NYU15NET">Bitbucket</a><td></tr>
    <tr><td><a href="https://developers.facebook.com/">Facebook API</a><td></tr>
</table>