@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<ul class="list-group">
    <li class="list-group-item">Aditya Gupta</li>
    <li class="list-group-item">Ariel Boris Dexler</li>
    <li class="list-group-item">Paul Sultan</li>
    <li class="list-group-item">Philip Markowitz</li>
</ul>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1511.7549769100922!2d-73.99583801719812!3d40.72880316203599!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259906cef3d29%3A0x92ae4b4cef3674db!2sCourant+Institute+of+Mathematical+Sciences!5e0!3m2!1sen!2sus!4v1430217949341" width="600" height="450" frameborder="0" style="border:0"></iframe>
