@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Yet Another Tinder</h1>
    <p class="lead">YAT is yet another online dating site. Register. Browse. Enjoy.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Registration is quick and simple. </p> 
        <img src="~/Content/images/heart_icon.png" class="center-block" width="100" height="100"/>
    </div>
    <div class="col-md-4">
        <h2>Quick match</h2>
        <p>Find your match now.</p>
        <img src="~/Content/images/doves.png" class="center-block" width="100" height="100" />
    </div>
    <div class="col-md-4">
        <h2>Connect with facebook</h2>
        <p>Link your photo and interest through facebook.</p>
        <img src="~/Content/images/facebook.png" class="center-block" width="100" height="100" />
    </div>
</div>